.profile__add-button {
  height: 50px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url('../../../images/main/profile/profile__add-button.svg');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: .5s ease;
  width: 150px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width:696px) {
  .profile__add-button {
    margin: 31px 0 0 0;
    width: 282px;
    background-size: 16px;
  }
}
