.profile__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 9px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 293px;
}

@media screen and (max-width:426px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    max-width: 260px;
  }
}
